*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background: lightblue;
    text-align: left;
    font-weight: 400;
}

.navbar-brand {
    font-family: "Playfair d", Serif;
    font-size: 2rem;
    font-style: italic;
}